{% extends "base.html" %}
{% block title %}Current Projects {% endblock %}
{% block content %}
<head>These are my current projects that I have completed. All university projects will be shown on resume, no access will be given otherwise </head>
<body>                     


</body>
<table>
    <tr>
      <th>School projects(java) </th>
      <th>School Projects(python)</th>
      <th>personal projects(python,html)</th>
    </tr>
    <tr>
      <td>working chess game(complex logic, Gui, polymorphism)</td>
      <td>discrete mathematics automated math converters(binary to decimal, hexidecimal to binary, etc)</td>
      <td>Personal Website(personalWeb.py)</td>
    </tr>
    <tr>
      <td>Timer (local app development)</td>
      <td> </td>
      <td>personal testing website where I learned Flask,python,as well as Html basics.</td>
    </tr>
{% endblock %}