{% extends "base.html" %}
{% block title %}Current Projects {% endblock %}
{% block content %}
<h1 style = "text-align: center;">These are my future projects! </h1>

<body>    
    <p1 style="text-align: center;">                 
    Python:
                            Small video game to expand my versatility within python
                            price matching(webScraping)
                            Java:
                            Graphical data visualzation(automatic graphical analysis and data structures)
                            auto equation generator 
                            Html+Python:
                            social media platform(TBD)
                            C++:
                            online casino(learning basics)

                        </p1>
</body>
<!-- <h1>Welcome! You've made it to my homepage. I am a Grand Valley State University student studying Computer Sciene</h1> -->
{% endblock %}